<div class="main">
  <div class="boxes">
      <%= link_to(zad1_path) do %>
        <div class="box">1</div>
      <% end %>
      <%= link_to(zad2_path) do %>
        <div class="box">2</div>
      <% end %>
  </div>
</div>
